---
layout: default
title: Home

pagination:
  enabled: true
---

<div class="welcome" style="text-align: center;">
  <img src="assets/profilePicture.png" alt="My Photo" style="width: 300px; border-radius: 50%; margin: 20px auto;">
  
  <h1>Hi, I'm David Everly</h1>

  <div class="purpose-block">
  I enjoy helping people solve complex problems with technology
  <br><br>

  Welcome to my page!
</div>

</div>

<hr>

<h3>About Me</h3>

I'm a Nurse Practitioner and aspiring ML engineer, who leverages AI/ML to transform complex 
workflows in healthcare and beyond. Driven by real-world clinical experience and powered by 
technical training, I’m passionate about using AI/ML to design smarter, safer systems — and 
excited to apply these skills across industries.
<br><a href="https://www.dmeverly.com/Pages/about/" style="display: block; text-align:right;">  Read more -> </a>

<hr>

{% if paginator.completed_projects.pages %}
  <h2 class="post-title text-center">{{ paginator.completed_projects.title }}</h2>
  <div class="posts">
    {% for project in paginator.completed_projects.docs %}
      <div class="post">
        <h3><a href="{{ project.url | relative_url }}">{{ project.data.title }}</a></h3>
        <p>{{ project.content | strip_html | truncatewords: 30 }}</p>
      </div>
    {% endfor %}
  </div>
  {% include pagination.html paginator=paginator.completed_projects %}
{% endif %}
</div>
</div>
<hr>

{% if paginator.incomplete_projects.pages %}
  <h2 class="post-title text-center">{{ paginator.incomplete_projects.title }}</h2>
  <div class="posts">
    {% for project in paginator.incomplete_projects.docs %}
      <div class="post">
        <h3><a href="{{ project.url | relative_url }}">{{ project.data.title }}</a></h3>
        <p>{{ project.content | strip_html | truncatewords: 30 }}</p>
      </div>
    {% endfor %}
  </div>
  {% include pagination.html paginator=paginator.incomplete_projects %}
{% endif %}
</div>
</div>
<hr>

<div style="text-align: center;">
  <span style="display: inline-flex; align-items: center; gap: 2em;">
    <a href="mailto:dmeverly@hotmail.com" class="contact-button">
      <i class="fas fa-envelope" style="margin-right: 8px;"></i> Contact Me
    </a>
    <a href="https://github.com/dmeverly" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
      <i class="fab fa-github" style="font-size: 24px;"></i>
    </a>
    <a href="https://www.linkedin.com/in/david-everly-a4aa7528a" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
      <i class="fab fa-linkedin" style="font-size: 24px;"></i>
    </a>
  </span>
</div>

<br>
<hr>