<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
          <!-- <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a> -->
            <!-- <small>{{ site.tagline }}</small> -->
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const sections = document.querySelectorAll(".section");
      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add("in-view");
            observer.unobserve(entry.target);
          }
        });
      }, { threshold: 0.2 });

      sections.forEach(section => observer.observe(section));
    });
  </script>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>
</html>

<script>
  window.addEventListener('load', () => {
    const checkbox = document.getElementById('sidebar-checkbox');
    if (window.innerWidth >= 960) {
      checkbox.checked = true; // Open sidebar if screen is wide
    } else {
      checkbox.checked = false; // Closed by default on smaller screens
    }
  });

  // Optional: Close sidebar when resizing to mobile
  window.addEventListener('resize', () => {
    const checkbox = document.getElementById('sidebar-checkbox');
    if (window.innerWidth < 960 && checkbox.checked) {
      checkbox.checked = false;
    }
  });
</script>
